body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    background-color: #FFFFFF;
}

header{
    background-color:#FFFFFF ;
    bottom: 1px;
    width: 1440px;
    height: 72px;
    border: 1px;
}
.page-logo-title{
    width: 115px;
    height: 24px;
    top: 24px;
    left: 156px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
}
.page-logo-title span{
    color: #2E2F42;
}
.page-menu-list {
    width: 261px;
    height: 24px;
    top: 24px;
    left: 347px;
    gap: 40px;
}
.link-studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.menu-nav ul li:first-child a:focus{
    color: #404bbf;
}
.menu-nav ul li:first-child a:hover {
    color: #404bbf;
}

.page-menu-list ul li:first-child a:hover{
    color: #404bbf;
}
.contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.address{
    font-style: normal;
}
.address-li-one{
    width: 153px;
    height: 24px;
    top: 24px;
    left: 940px;
}
.address-li-two{
    width: 151px;
    height: 24px;
    top: 24px;
    left: 1133px;
}

.address ul li:first-child a:hover{
    color:#404bbf;
}
.address ul li:first-child a:focus{
    color: #404bbf;
}
.section-one{
    width: 1440px;
    height: 600px;
    top: 72px;
    background-color: #2E2F42;
}
.section-one h1{
    width: 469px;
    height: 120px;
    top: 260px;
    left: 472px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section-one button{
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    border-radius: 4px;
    padding: 16px, 32px, 16px, 32px;
    gap: 10px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.section-one button:hover{
    background-color: #404bbf;
}
.section-one button:focus{
    background-color: #404bbf;
}

.section-two{
    width: 1128px;
    height: 104px;
    top: 792px;
    left: 156px;
}
.section-two ul li{
    width: 264px;
    height: 104px;
    top: 792px;
    gap: 8px;
}
.list-one{
    left: 156px;
}
.list-two{
    left: 444px;
}
.list-three{
    left: 732px;
}
.list-four{
    left: 1020px;
}
.title-strategy{
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 2.4em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    top: 792px;
    left: 156px;
    gap: 8px;
    opacity: 0px;
}
.p-strategy{
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 0px;
    opacity: 0px;
}
.section-two ul li{
    list-style-type: none;
}

.section-three{
    width: 1440px;
    height: 732px;
    top: 1016px;
    background-color:#F4F4FD ;
}
.section-three h2{
    width: 162px;
    height: 40px;
    top: 1136px;
    left: 639px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-three ul li{
    list-style-type:none ;
    width: 264px;
    height: 380px;
    top: 1248px;
    gap: 32px;
    background-color: #FFFFFF;
}
.section-three h3{
    width: 134px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align:center;
}
.section-three ul li p{
    width: 128px;
    height: 24px;
    font-size: 16px;
    color: #434455;
    text-align:center;
    letter-spacing: 0.02em;
}
.section-three ul li img{
    height: 260px;
}

.section-four{
    width: 1128px;
    height: 100px;
    top: 1868px;
    left: 156px;
    border: 1px,1px,1px,1px;
    background: #FFFFFF;
    margin: auto;

}
.our-portfolio{
    width: 218px;
    height: 40px;
    top: 1868px;
    left: 611px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-four h2{
    width: 218px;
    height: 40px;
    top: 1868px;
    left: 611px;
}
.section-four ul {
    width: 360px;
    height: 420px;

}
.section-four ul li{
    list-style-type: none;   
}
.title-app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.text-p{
    letter-spacing:0.02em;
}

footer{
    width: 1440px;
    height: 312px;
    top: 2988px;
    background-color: #2e2f42;
}

.page-logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;    
}

.footer a span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18;
    line-height: 1.17;
    letter-spacing: 3%;
    text-decoration: none;
    color: #F4F4FD;
}

.footer-p{
    width: 264px;
    height: 72px;
    top: 3128px;
    left: 156px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}